@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Serif:opsz,wght@8..144,400;8..144,600;8..144,700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-family: "Roboto Serif", serif;
  background-color: #1f2026;
}
